# OS
.DS_Store

# Env
.env
.env.*
!.env.example

# Laravel
backend/vendor/
backend/storage/logs/*.log
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/bootstrap/cache/*.php

# Next.js
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/.env.local
frontend/.env.*.local

# Docker
mysql_data/